---
http_interactions:
- request:
    method: get
    uri: https://customsearch.googleapis.com/customsearch/v1?cx=&key=&q=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "error": {
            "code": 403,
            "message": "The request is missing a valid API key.",
            "errors": [
              {
                "message": "The request is missing a valid API key.",
                "domain": "global",
                "reason": "forbidden"
              }
            ],
            "status": "PERMISSION_DENIED"
          }
        }
  recorded_at: Sun, 06 Dec 2020 22:50:20 GMT
recorded_with: VCR 5.1.0
