---
http_interactions:
- request:
    method: get
    uri: http://customsearch.googleapis.com/customsearch/v1?cx=c92e36d4389be4fb8&key=AIzaSyAHl2C-VjoShpRPI4E2Nv0aTcxwlv0xRqg&q=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "error": {
            "code": 403,
            "message": "SSL is required to perform this operation.",
            "errors": [
              {
                "message": "SSL is required to perform this operation.",
                "domain": "global",
                "reason": "sslRequired"
              }
            ],
            "status": "PERMISSION_DENIED"
          }
        }
  recorded_at: Mon, 07 Dec 2020 07:03:54 GMT
recorded_with: VCR 5.1.0
